* {
	background-color: rgb(27, 27, 27);
}

.container {
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10rem;
	padding: 10px;

	text-align: center;
	background: rgb(71, 67, 67);
	border: 2px solid;
	border-radius: 15px;
}

.output {
	margin: 20px;
}

input {
	text-align: right;
	width: 235px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;

	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: darkseagreen;
	border: 2px solid black;
	border-radius: 5px;
}

.viewArea {
	color: black;
}

.isResult {
	color: red;
}

.buttonsArea {
	margin-top: 20px;
	width: 280px;
	height: 330px;
	background-color: rgb(53, 50, 50);

	border: 2px solid;
	border-radius: 15px;
}

/* button {
	margin: 2px;
	width: 80px;
	height: 60px;

	font-size: 24px;

	background-color: bisque;
	border-radius: 15px;
} */

.operator {
	background-color: rgb(31, 28, 28);
	color: white;
}

.btn {
  margin: 2px;
	width: 80px;
	height: 60px;

	font-size: 24px;

	background-color: bisque;
	border-radius: 15px;

}

.btn.C {
	background-color: darkorange;
	color: white;
}

.result {
	width: 163px;
	background-color: rgb(31, 28, 28);
	color: white;
}
